body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.app-body {
    margin-top: 65px;
    // margin-bottom: 100px;
}
#tr-footer{
    height: 65px;
    width:100%;
    background:transparent;
    overflow: auto;
    }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #tr-footer{
        height: 70px;
        }
        // .modals {
        //     // margin-top: 65px;
        // }
}
.app-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px !important;
    padding: 0 10px;
}

.modals {
    z-index: 100001 !important;
    overflow-y: auto !important;
    margin-top: 0px !important;
}

.modals.dimmer .ui.scrolling.modal {
margin-top: 60px;
}