.home-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 10px;

    .home-page-button {
        min-width: 300px;
        margin: 10px auto;
    }

}
.homepage-cycle{
    width: fit-content;
    margin: 10px;
    padding: 0;
}

.home-page-button-container{
    text-align: center;
    
}
.home-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
       
}

.missing-info-form {
display: flex !important;
flex-direction: column !important;
}