.login-page {
    height: 100vh;
    width: 90%;
    position: absolute;
    left: 50%;
    margin-left: -50px;


}

.login-card-group {
    width: 100%;
    text-align: center;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}