.cal-modal-content {
    display: flex;
    justify-content: space-around;
}
.cal-modal-buttons-editing {
    display: flex;
    flex-direction: column;
}
.cal-modal-icon {
    width: 40px !important;
    height: 40px !important;
}
.ui.dropdown .menu>.item{
    height: 50px;
}

.ui.dropdown .menu>.item>img {
    height: 50px;
    max-height: 50px;
}