  
.established-period {
    background-color: $accent-1;
}

.predicted-period {
    background-color: $predicted-period-color;
}

.show-log {
    color: #98e039;
}

.today-selected {
    font-weight: 1000;
    border: solid rgb(0, 0, 0) 4px;
    // color: red;
}

.calendar-number-square {
    padding: .5em !important;
}

.calendar-name-square {
    padding: .25em !important;
}

.calendar-container {
    max-width: 350px;
}

.current-calender-month{
    background-color: rgba(77, 3, 3, 0.13);
    color: rgb(0, 0, 0);
}