.grid-background-color {
    background-color: $accent-1;
}

.calendar-number-square {
    padding: .5em !important;
}

.calendar-name-square {
    padding: .25em !important;
}

.calendar-container {
    max-width: 350px;
}