.established-period {
    background-color: $accent-1;
}

.predicted-period {
    background-color: $predicted-period-color;
}

.show-log {
    color: rgba(0, 255, 0, 0.973);
}

.today-selected {
    font-weight: 1000;
    border: dotted red 4px;
    // color: red;
}

.calendar-number-square {
    padding: .5em !important;
}

.calendar-name-square {
    padding: .25em !important;
}

.calendar-container {
    max-width: 350px;
}