.cycleContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    

    .circleContainer {
        width: 310px;
        height: 310px;
        display: flex;
        justify-content: center;


        .cycleText {
            position: absolute;
            align-self: center;
            word-wrap: break-word;
            width: 225px;
            max-height: 225px;
            font-size: 15px;
            line-height: 2em;
            z-index: 1;

            &-cycle-number {
                font-size: 30px;
            }

        }

        .cycleDotContainer{
            color: $cycle-text-color;
            line-height: 10.5px;
            min-width: 14px;
            
            .cycle-dot {
                height: 17px;
                width: 17px;
                background-color: $cycle-color;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-padding {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                &-red {
                    height: 17px;
                    width: 17px;
                    background-color: $cycle-period-color;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-small {
                        height: 5px;
                        width: 5px;
                        background-color: $cycle-period-color;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;

                        &-selected {
                            height: 20px;
                            width: 20px;
                            background-color: $cycle-period-color;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }

                    &-selected {
                        color: $cycle-period-color;
                        height: 20px;
                        width: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                &-currentday {
                    height: 17px;
                    width: 17px;
                    background-color: $cycle-current-color;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-small {
                        height: 10px;
                        width: 10px;
                        background-color: $cycle-current-color;
                        border-radius: 50%;
                        display: flex;
                    }

                    
                }

                &-selected {
                    color: $cycle-period-color;
                    height: 20px;
                    width: 20px;
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                &-small {
                    height: 5px;
                    width: 5px;
                    background-color: $cycle-color;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &-selected {
                        background-color: $cycle-color;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    
                }

                &-month {
                    font-size: 10px;
                    color: black;

                    &-first {
                        color: black;
                    }
                }

                &-number {
                    font-size: 12px;

                    &-first {
                        padding-bottom: 16px;
                        padding-top: 7px;
                    }
                }
            }
        }
    }
}